html, body {
    margin:0;
    height:100%;
    font-family:"Arial";
}

body {
    display:flex;
    flex-direction:column;
    align-items:stretch;
}

.nav {
    --padding:20px;

    height:80px;
    background:white;
    width:calc(100vw - var(--padding) * 2);
    padding-left:var(--padding);
    padding-right:var(--padding);
    flex-shrink:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.nav-logo {
    font-family:"Quicksand";
    font-weight:400;
    font-size:1.75rem;
    text-decoration:none;
    color:black;
}

.nav-menu-link {
    font-size:1rem;
    color:rgba(0, 0, 0, .8);
    font-family:"Arial";
    text-transform:uppercase;
    text-decoration:none;
    margin-left:15px;
}

.content {
    height:100%;
    width:100vw;
    overflow:scroll;
}

.auth {
    display:flex;
    flex-direction:column;
    align-items:center;    
}

.auth > * {
    flex-shrink:0;
}

.auth-form {
    border-radius:5px;
    margin-top:15px;
    border:1px solid rgba(0, 0, 0, .1);
    background:rgba(0, 50, 0, .05);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
}

.auth-form-title {
    font-family:"Quicksand";
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    font-size:2rem;
    margin:0;
    margin-bottom:15px;
    background:linear-gradient(135deg, gray, black);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
}

.auth-form-input {
    --padding:7.5px;

    height:25px;
    font-size:1rem;
    padding-left:var(--padding);
    padding-right:var(--padding);
    margin-bottom:7.5px;
    border-radius:2.5px;
    outline:0;
    border:2px solid rgba(0, 0, 0, .1);
    background:white;
    transition:.15s;
}

.auth-form-input:focus {
    border-color:blue;
}

.auth-form-submit {
    background:transparent;
    outline:0;
    margin-top:7.5px;
    font-size:.95rem;
    color:rgba(0, 0, 0, .9);
    border:none;
    cursor:pointer;
}