{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Posts</title>
    <link type="text/css" rel="stylesheet" href="{% static 'blog/posts_list/main.css' %}">
{% endblock %}

{% block content %}
    <div class="articles content">
        {% for post in posts %}
            <article class="articles-item">
                <div class="articles-item-image">
                    <img src="{{ post.image }}" alt="preview" />
                </div>
                <div class="articles-item-auth">
                    {% for ma in post.author.all %}
                        <span>{{ ma.name }}</span>
                    {% endfor %}                    
                </div>
                <div class="articles-item-content">
                    <h3 class="articles-item-content-title">{{ post.title }}</h3>
                    <p class="articles-item-content-mat">
                        {{ post.getPreview }}
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}