{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Posts</title>
    <link type="text/css" rel="stylesheet" href="{% static 'blog/posts_list/main.css' %}">
{% endblock %}

{% block content %}
    <div class="articles content">
        <article class="articles-item">
            <div class="articles-item-image">
                <img src="https://www.freegreatpicture.com/files/photo107/53470-winter-beautiful-snow-crystal.jpg" alt="preview" />
            </div>
            <div class="articles-item-auth">
                <span>Oles Odynets</span>
            </div>
            <div class="articles-item-content">
                <h3 class="articles-item-content-title">This chest was opened two hundred years ago!</h3>
                <p class="articles-item-content-mat">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec dui porta, pharetra mi non, pellentesque nibh. Quisque ultricies odio metus, ac vulputate eros elementum vitae
                </p>
            </div>
        </article>
    </div>
{% endblock %}