{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="{% static 'blog/register/main.css' %}">
    <script type="text/javascript" src="{% static 'blog/register/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content auth register">
        <form class="auth-form" id="register-form" success-url="{% url 'view_posts_url' %}">
            <h2 class="auth-form-title">Register</h2>
            <input
                type="text"
                placeholder="Name"
                class="auth-form-input auth-form-disable"
                id="register-fname"
                required
            />
            <input
                type="text"
                placeholder="Login"
                class="auth-form-input auth-form-disable"
                id="register-flogin"
                required
            />
            <input
                type="password"
                placeholder="Password"
                class="auth-form-input auth-form-disable"
                id="register-fpassword"
                required
            />
            <p id="auth-form-message" class="auth-form-message hidden">Something went wrong</p>
            <button type="submit" class="auth-form-submit">Register</button>
            <a class="auth-form-swapf" href="{% url 'register_page_url' %}">Login</a>
        </form>
    </div>
{% endblock %}