{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>Document</title>
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav class="nav">
        <a class="nav-logo" href="{% url 'view_posts_url' %}">
            <span>MyBlog</span>
        </a>
        <div class="nav-menu">
            <a class="nav-menu-link" href="{% url 'view_posts_url' %}">Posts</a>
            {% if inAuth %}
                <a class="nav-menu-link" href="{% url 'write_post_url' %}">Write</a>
                <a class="nav-menu-link" href="{% url 'logout_redirect_url' %}">Logout</a>
            {% else %}
                <a class="nav-menu-link" href="{% url 'login_page_url' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
        <pre>Error</pre>
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
    <script>
        window._HOSTPATH_ = 'http://' + window.location.host;
    </script>
</body>
</html>